html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel {
  .slick-next {
    position: absolute;
    z-index: 100;
  }

  .slick-slider {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    z-index: 999 !important;
  }
  .slick-next:before {
    color: white;
    font-family: "FontAwesome";
    content: "\f105";
    font-size: 3rem;
    @media (max-width: 638px) {
      position: relative;
      right: 5px;
    }
  }
  .slick-prev:before {
    content: "\f104";
    color: white;
    font-family: "FontAwesome";
    font-size: 3rem;
    @media (max-width: 638px) {
      position: relative;
      left: 5px;
    }
  }
}

.nav-links-mobile {
  color: #c11873;
  font-weight: 700;
}

.nav-links-mobile:hover {
  background: #c11873 !important;
  color: white !important;
}
